html {
	background-color:grey;
}

body {
	background-color: white;
	color: black;
	font-size: 30px;
}
input {
	font-size: 20px;
	padding: .25em .5em;
}
.container-header h2 {
	font-size: 40px;
	line-height: 1;
	margin: 0;s
}
.row-header {
	background-color: lightgrey;
	display: block;
}
.col-header-title {
	padding: 1em 1em 1em 5em;
	min-width: 19em;
	display: inline-block;
	overflow: hidden;
}
.col-header-search {
	display: inline-block;
}
.circleOne, .circleTwo {
 	border-radius: 50%;
	vertical-align: middle;
}
h2 {
	padding: 0;
}
.search-bar {
	float: right;
}
.btn-search {
	background-color: black;
	color: yellow;
	border: none;
	height: 38px;
}
#search {
	color: grey;
	border: none;
	border-radius: 5px;
}
.gif-thumb {
	width: 100%;
	height: auto;
	margin: 0 0 .25em 0;
}
.row-gif {
	margin-bottom: 2em;
}
